* {
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0px 0px;
  color: #f4f4f4;
  background-color: #497ef0;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer{
  padding-top:20px
}

.social-networks{
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  span img{
    width: 50px;
    height: 50px;
  }
}
