<div class="main">
  <div class="header">
    <div class="logo">
      <img src="img/logo.png" alt="" />
      <span> POMODOG </span>
    </div>
    <div class="buttons-join">
      <button class="button-register">REGISTER</button>
      <button class="button-login">LOGIN</button>
    </div>
  </div>

  <div class="menu">
    <div class="text-section">
      <p>TEXT AD</p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis nunc eu purus posuere auctor quis sit amet elit. Fusce ultricies velit eget metus faucibus hendrerit eu ac arcu. Ut auctor ipsum risus, eu porta ante venenatis sed.
      </p>

      <p>
        Integer blandit turpis at ipsum elementum, vel vestibulum nulla finibus. Quisque congue magna lectus. Aliquam eu magna semper, bibendum arcu at, tincidunt neque. Quisque iaculis dui et est fringilla, nec tincidunt sem fringilla. In vitae odio enim. Integer tristique mi non varius aliquam. Etiam ut dapibus mauris, eget auctor justo. Integer ac elit scelerisque, fermentum dolor sed, pulvinar justo. 
    </div>

    <div class="forms-section">
      <P>REGISTER</P>

      <div class="forms">
        <form action="">
          <label for="Nome">Nome de usuário:</label>
          <input type="text" name="Nome" id="" />
          <label for="Nome">Email:</label>
          <input type="email" name="" id="" />

          <div class="form-password">
            <label for="Nome">Senha</label>
            <input type="password" name="" id="" />
            <label for="Nome">Re-senha</label>
            <input type="password" name="" id="" />
          </div>
        </form>
        <a href="">Esqueci a senha</a>
      </div>
      <button>Registrar</button>
    </div>
  </div>

  <div class="footer">
    <footer></footer>
  </div>
</div>
