<div class="main">
  <div class="header">
    <div class="logo">
      <img src="img/logo.png" alt="" />
      <span> POMODOG </span>
    </div>
    <div class="buttons-join">
      <button class="button-register">REGISTER</button>
      <button class="button-login">LOGIN</button>
    </div>

  </div>
  <hr>
  <div class="menu">
    <div class="text-section">
      <p>Conquiste mais em menos tempo!</p>

      <p>
        Organizar sua rotina nunca foi tão fácil. Nosso aplicativo de Pomodoro combina simplicidade e eficiência para ajudar você a focar no que realmente importa. Com ciclos ajustáveis de trabalho e pausa, você mantém o equilíbrio perfeito entre produtividade e descanso, tudo em uma interface limpa e intuitiva. Ideal para estudos, trabalho ou projetos pessoais!
      </p>

      <p>
        Desfrute de uma experiência que se adapta ao seu ritmo e transforma seu dia a dia. Comece agora e descubra como pequenas pausas podem gerar grandes resultados!</p>
    </div>

    <div class="forms-section">
      <P>REGISTER</P>

      <div class="forms">
        <form action="">
          <label for="Nome">Nome de usuário:</label>
          <input type="text" name="Nome" id="" />
          <label for="Nome">Email:</label>
          <input type="email" name="" id="" />

          <div class="form-password">
            <label for="Nome">Senha</label>
            <input type="password" name="" id="" />
            <label for="Nome">Re-senha</label>
            <input type="password" name="" id="" />
          </div>
        </form>
        <a href="">Esqueci a senha</a>
      </div>
      <button>Registrar</button>
    </div>
  </div>

  <div class="footer">
    <footer></footer>
  </div>
</div>
