<ng-container>
  <div class="main">
    <div class="pomodoro">
      <div class="graph" [ngStyle]="countdown"></div>

      <div class="countdown">{{ formattedTime }}</div>

      <button
        class="button-timer"
        *ngIf="!activateControls"
        (click)="startTimer()"
      >
        START
      </button>

      <button
        class="button-timer"
        *ngIf="activateControls && !isPaused"
        (click)="pauseTimer()"
      >
        PAUSE
      </button>

      <button
        class="button-timer"
        *ngIf="activateControls && isPaused"
        (click)="startTimer()"
      >
        RESUME
      </button>

      <button
        class="button-timer"
        *ngIf="activateControls"
        (click)="stopTimer()"
      >
        RESTART
      </button>
    </div>

    <div class="score">
      <span>Contador</span>
      <div class="dogCounts">
        <div *ngFor="let i of countsDog">
          <img src="img/dogCount.png" alt="">
          <span class="dogCount-text">{{i}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
